# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Build / logs
dist/
build/
*.log
.env
.env.local

# Backend: archivos subidos (mantener carpetas)
uploads/ofertas/*
!uploads/ofertas/.gitkeep
CORTES/*
!CORTES/.gitkeep
!CORTES/VIDEO/
CORTES/VIDEO/*
!CORTES/VIDEO/.gitkeep
IMG/CORTES/*
!IMG/CORTES/.gitkeep
!IMG/CORTES/VIDEO/
IMG/CORTES/VIDEO/*
!IMG/CORTES/VIDEO/.gitkeep
